body {
    background-color: #8888;
}


#parent {
    display: inline-block;
position: relative;
}

#wave {
    text-align: center;
    position: absolute;
    top: 2%;
    left: 30%;
}

#timer {
    text-align: center;
    position: absolute;
    top: 2%;
    left: 45%;
}

#menu{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: #726d6d;
    z-index: 1;
    opacity: 0.97;
}

#items-box{
    position: absolute;
    top: 15%;
    left: 15px;
    width: 72%;
    height: 52%;
    display: inline-flex;
    color:aliceblue;
}

.item-images {
    padding: 5px;
    margin: 13px 5px 5px 13px;
    background-color: #68646488;
    border-radius: 5px;
    width: 48px;
}

.items {
    position: relative;
    align-items: center;
    text-align: center;
    background-color: #1a1616c3;
    height: 300px;
    width: 175px;
    opacity: 0.95;
    margin: 5px;
    border-radius: 5%;
}


.stats{
    margin-top: 0px;
    margin-bottom: 0;
    text-align: left;
    margin-left: 15px;
}


#char_info_box {
    position: inherit;
    top: 8%;
    right: 15px;
    background-color: #1a1616c3;
    width: 200px;
    height: 350px;
    border-radius: 5px;
}

#inventory {
    position: absolute;
    bottom: 15px;
    left: 15px;
    display: flexbox;
    width: 50%;
    height: 120px;
}

#Inv-header {
    color: aliceblue;
    position: absolute;
    bottom: 135px;
    left: 15px;
    margin-bottom: 0;
    font-size: 24px;
}

.inv-images {
    background-color: #1a1616c3;
    opacity: 100%;
    border-radius: 5px;
    margin: 2px;
    padding: 2px;
    width: 48px;
}

#weapons {
    position: absolute;
    bottom: 15px;
    right: 20%;
    display: flexbox;
    width: 180px;
    height: 120px;
}

#weapons-header {
    color: aliceblue;
    position: absolute;
    bottom: 135px;
    right: 28%;
    margin-bottom: 0;
    font-size: 24px;
}

#GO-button {
    background-color: #1a1616c3;
    position: absolute;
    bottom: 15px;
    right: 15px;
    width: 170px;
    font-size: large;
    border-radius: 7px;
    color: aliceblue;
    font-weight: bold;
}

#GO-button:hover{
    opacity: 0.85;
}

#Reroll-button {
    position: absolute;
    top: 4.5%;
    right:27%;
    color: aliceblue;
    border-radius: 5px;
    width: 160px;
    height: 45px;
    background-color: #1a1616c3;
    display: inline-flex;
    align-items: center;
}

#Reroll-button:hover {
    opacity: 0.85;
}

.buy_button {
    position:absolute;
    bottom: 15px;
    align-self: center;
    width: 100px;
    left: 40px;
    border-radius: 5px;
    background-color: #1a1616c3;
    color: aliceblue;
    font-weight: bold;
}

.buy_button:hover{
    opacity: 0.85;
}

#money {
    position: absolute;
    top: 1%;
    right: 50%;
    color: aliceblue;
    }